
.services {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
}

.services-title {
  font-size: 2rem;
  font-weight: bold;
  color: #022b60;
  margin-bottom: 10px;
}

.services-subtitle {
  font-size: 1.1rem;
  color: #022b60;
  margin-bottom: 30px;
  line-height: 1.5;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service-card {
  background-color: #8498b1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.service-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #022b60;
}

.service-description {
  color: #022b60;
  line-height: 1.5;
}

/* Responsive styling for mobile devices */
@media (max-width: 768px) {
  .service-card {
    text-align: center;
  }

  .services-subtitle {
    font-size: 1rem;
  }
}
